@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    font-family: Roboto;
    font-weight: 300;
    color: #fff;
    background-color: #424242;
}
h2{
    color: #f47f22;
}
/*  selector de ID */
#parrafo{
    background-color: #fbbd87;
    color:  #424242;
    padding: 32px;
}

/* selector de clase */
.enlace{
    color: gold;
    padding: 16px;
    text-decoration: none;
}