*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Raleway, sans-serif;
    width: 500px;
    margin: auto;
}
p{
    line-height: 32px;
    margin: 32px 0px;
}

#redondo{
    padding: 8px;
    border: 1px solid #0a3;
    border-radius: 150px;
}